<%= render 'stack/section' %>
        <h1> Questions</h1>
        <br><br>
            <% @questions.each do |quiz| %>
                <div class="ui list" align="justified">
                    <h4> <%= link_to quiz.title.capitalize, question_path(id: quiz.id) %></h4>
                </div>
                <br>
            <% end %>
    </div>
    <%= render 'stack/tags' %>
