<%# <% provide(:title, "Stack")%>
<div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="title-bar-left"><%= link_to "Questions",questions_path %></div>
        <div class="title-bar-right"><%= link_to "Tags", "#" %>  &nbsp; &nbsp; &nbsp; &nbsp;
        <%= link_to "Ask", new_question_path %> </div>
    </div>
</div>
<h1> Stack </h1>
    <ol>
<% @questions.each do |quiz| %>
        <li> <%= link_to quiz.body, question_path(id: quiz.id) %></li>
        <br>
    <% end %>
        </ol>
<hr>
