<%# <% provide(:title, "Stack")%>
<div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="title-bar-left"><%= link_to "Questions","#"%></div>
        <div class="title-bar-right"><%= link_to "Tags", "#" %>  &nbsp; &nbsp; &nbsp; &nbsp;
        <%= link_to "Ask", "#" %> </div>
    </div>
</div>
<h1> Stack </h1>
<hr>
