<h1>Assignment </h1>
<hr>
<br>
<div class="ui form">
        <%= form_for(@assignment) do |f| %>
            <%= render 'assignment', f: f %>
        <div class= "fields">
            <div class="two wide field"> </div>
            <%= f.submit "Post Assignment", class: "ui inverted green button" %>
    </div>
        <% end %>
</div>

