<br>
<br>
<h2> Edit My Profile </h2>
<hr>
<br>
<div class="ui form">
    <%= form_for(@student) do |f| %>
        <%= render 'shared/signup', f: f %>
        <div class= "fields">
            <div class="two wide field"> </div>
            <%= f.submit "Update Info", class: "ui inverted green button" %>
        <% end %>
        </div>
</div>
