<h2> Students</h2>
<table>
    <thead>
        <tr>
            <th> No.</th>
            <th>First Name </th>
            <th>Last Name </th>
            <th>School </th>
        </tr>
    </thead>
    <% @students.each do |student| %>
        <tr>
            <td><%= student.id %></td>
            <td> <%= student.f_name%></td>
            <td><%= student.l_name %> </td>
            <td> <%=student.school %></td>
        <% end %>
        </tr>
</table>
