<h1> Student sign up here!!</h1>
<hr>
<div class="ui form">
    <%= form_with model:  @student do |f| %>
        <%= render 'shared/signup', f: f %>
        <div class= "fields">
            <div class="two wide field"> </div>
            <%= f.submit "Sign Up" , class: "ui inverted violet button" %>
        </div>
    <% end %>
</div>
