<% if object.errors.any? %>

    This form contains <%= pluralize(object.errors.count, "error") %> !!
    <div id="errors">
        <% object.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %>
    </div>
<% end %>
