#footer, .top-bar{
    background: url('cool.jpg');
    color:white;

    border:none;
    padding: 15px 0;
}
#footer{
    padding-bottom:0px;
    height:300px;
    border:solid 1px blue;
}


#flash.nasty{
   background-color:red; 
}
#flash.success{

   background-color:green; 
}
