<h1>Edit Profile Information</h1>
<hr>

<div class="ui form">
    <%= form_for(@lecturer) do |f| %>
        <%= render 'shared/lecturer', f: f %>
        <div class= "fields">
            <div class="two wide field"> </div>
            <%= f.submit "Update Information", class: "ui inverted green button" %>
        </div>
    <% end %>
</div>
