<h2> Lecturers </h2>
<table>
    <thead>
        <tr>
            <th> No.</th>
            <th>First Name </th>
            <th>Last Name </th>
            <th>School </th>
        </tr>
    </thead>
    <% @lecturers.each do |lecturer| %>
        <tr>
            <td><%= lecturer.id %></td>
            <td> <%= lecturer.f_name%></td>
            <td><%= lecturer.l_name %> </td>
            <td> <%=lecturer.school %></td>
        <% end %>
        </tr>
</table>
