<h1> Lecturer Sign up Form</h1>
<hr>
<div class="ui form">
    <%= form_for(@lecturer, ) do |f| %>
        <%= render 'shared/lecturer', f: f %>

        <div class= "fields">
            <div class="two wide field"> </div>
            <%= f.submit "Sign Up",  class: "ui inverted violet button" %>
        </div>
    <% end %>
</div>
