<div class="top-bar">
    <div class="top-bar-right">
        <%= link_to "About", "#" %>
        <%= link_to "Contact", "#" %>
    </div>
    <div class="top-bar-left">
        <%= link_to  image_tag("logo1.png"), root_url%>
            <h2><%= link_to "Shahada", root_url %></h2>
    </div>
</div>
